body.pushable {
  background-color: #494657 !important;
}

.hidden.menu {
  display: none;
}

.ui.menu .item:before, .ui.inverted.menu .item:before, .ui.vertical.inverted.menu .item:before {
  background: transparent;
}

.ui.inverted.menu {
  background-color: #494657;
}

a:hover {
  color: rgba(68, 188, 176, 0.5);
}

a:hover .icon {
  color: rgba(68, 188, 176, 0.5);
}

a {
  color: #44BCB0;
  text-decoration: none;
}

.ui.text.container.work-header a {
  font-size: 3em;
  line-height: 0.8em;
}

.ui.text.container.work-header h1 {
  font-size: 2em;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.ui.text.container.stripe-header {
  padding-top: 11em;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
  text-align: center;
  color: #fff;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, p:last-child {
  margin-bottom: 3em;
}

.ui.text.container h3 {
  color: #44BCB0;
}

h3 {
  color: #44BCB0;
  font-size: 2em !important;
}

h3.ui.text.container {
  color: #44BCB0;
}

.ui.list .list>.item a.header, .ui.list>.item a.header {
  color: #44BCB0 !important;
}

.ui.list .list > a.item, .ui.list > a.item {
  color: #44BCB0;
}

.ui.list .list > a.item:hover,
.ui.list > a.item:hover {
  color: #44BCB0;
}

.landing-image {
  /* background-image: url('images/background_Artboard 8 copy.png') !important; */
  background-size: cover !important;
  background-color: #494657;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4 )
    ),
    url('images/background-rainbow.png') !important;
}

.ui.fluid.image.grayscale {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.ui.fluid.image.grayscale:hover {
    -webkit-filter: initial; /* Safari 6.0 - 9.0 */
    filter: initial;
}

.ui.secondary.inverted.pointing.menu {
  border-color: transparent !important;
}

.ui.secondary.pointing.menu {
  border-bottom: transparent;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe.stripe-small {
  padding: 2em 0em;
}

.ui.vertical.stripe.stripe-large {
  padding-top: 8em;
  padding-bottom: 8x§em;
}

.ui.vertical.stripe.stripe-header {
  padding: 10em 0em;
}

.ui.vertical.stripe.background {
  background-color: #DCE0F2;
}

.inter-section-text {
  color: #44BCB0;
  font-size: 1.7em !important;
  font-weight: 700;
  margin-top: -8.5em;
  margin-bottom: 4em;
}

.box-title {
  color: #494657;
  font-size: 1.7em !important;
  font-weight: 700;
  text-align: center;
}

.box-text {
  padding-left: 1em;
  padding-right: 1em;
}

.ui.segment.box {
  padding-top: 2em;
  height: 30em;
}

.simple.list p {
  padding-left: 50em;
}

.portfolio-title {
  color: #44BCB0;
  font-size: 6em !important;
  font-weight: 700;
  margin-top: -0.15em !important;
  margin-bottom: 0.5em;
}

.portfolio-sub-title {
  color: #44BCB0;
  font-size: 2.5em !important;
  font-weight: 700;
  margin-top: -0.15em !important;
}

.warning-text {
  color: #44BCB0;
  text-align: center;
  font-size: 1.5em !important;
  font-weight: 700;
  margin-top: -0.15em !important;
}

i.icon.hand.rock {
  vertical-align: center;
  color: #44BCB0;
}

i.icon.hand.paper {
  vertical-align: center;
  color: #44BCB0;
}

i.icon.hand.spock {
  vertical-align: center;
  color: #44BCB0;
}

i.icon.warning.sign {
  vertical-align: center;
  color: #44BCB0;
}

.section-text-title {
  color: #fff;
  font-size: 3em !important;
  text-align: center;
  font-weight: 700;
  margin-top: 0em;
}

.section-text {
  color: #fff;
  text-align: center;
  font-size: 1.7em !important;
  font-weight: 700;
}

.section-text h2 {
  margin-bottom: -1em;
  margin-top: 2em;
}

h2.body-text {
  color: #494657;
  font-size: 1.7em !important;
  font-weight: 700;
  margin-bottom: 1em;
}

.ui.vertical.stripe.background-green {
  background-color: #44BCB0;
  background-image:
    linear-gradient(
      rgba(68, 188, 176, 0.7),
      rgba(68, 188, 176, 0.7)
    ),
    url(../assets/images/work/rgsoc/2016-09-30-rgsoc-2016-party-soundcloud-endofsummer-04-background.png);
}

.info-title {
  color: #44BCB0;
  font-size: 8em !important;
  font-weight: 700;
  margin-top: -1em;
}

#diversity .info-title {
  margin-left: -0.058em;
}

.green-text {
  color: #44BCB0 !important;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.segment.stripe-section {
  background-color: #DCE0F2;
  padding-bottom: 4em;
}

.ui.vertical.segment.stripe-top {
  padding-top: 8em;
  padding-bottom: 2em;
}

.ui.vertical.segment.stripe-middle {
  padding-top: 4em;
  padding-bottom: 4em;
  }

.ui.vertical.segment.stripe-bottom {
  padding-top: 2em;
  padding-bottom: 8em;
  }

.row-images {
  padding-top: 2em;
  padding-bottom: 2em;
  }

.ui.vertical.stripe.segment.stripe-stats {
  background-color: #DCE0F2;
  padding-bottom: 0em;
}

.ui.section.inverted.divider.divider-section {
  border-top: 2px solid rgba(255,255,255,0);
  border-bottom: 0px;
  padding-bottom: 4em;
}

.shortcuts h2 {
  text-align: center;
  color: #494657;
  font-size: 1.7em !important;
  font-weight: 700;
  margin-bottom: 4em;
}

.potfolio-left-column {
  padding-right: 2em;
  }

.portfolio-title-shortcuts {
  color: #44BCB0;
  font-size: 3em !important;
  font-weight: 700;
}

.section-subtitle-text {
  color: #fff;
  font-size: 2.5em !important;
  font-weight: 700;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.right.floated.image, .ui.right.floated.images {
  margin-left: 4em;
  margin-bottom: 2em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
  font-weight: lighter;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  color: #fff;
  background-color: #494657;
}

.secondary.pointing.menu .toc.item, .ui.fixed.menu .toc.item {
  display: none;
}

.ui.list .header {
  font-size: 1.8em;
  padding-bottom: 0.5em;
  padding-top: 0.8em;
  line-height: 1em;
}

.ui.list .list>.item a.header:hover, .ui.list>.item a.header:hover {
  color: rgba(68, 188, 176, 0.5) !important;
}

.ui.vertical.segment {
  border-bottom:#fff;
}

.ui.grid p.legend {
  color: grey;
  text-align: left;
  font-size: 1em;
  padding-top: 0.5em;
  margin-bottom: -1.5em;
}

.ui.segment {
  box-shadow: none;
  border-radius: 0rem;
  border: 0px transparent;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {

  .ui.segment.box {
    padding-top: 2em;
    height: 35em;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {

  .ui.segment.box {
    padding-top: 2em;
    height: 47em;
  }
}

@media only screen and (max-width: 770px) and (min-width: 700px) {
  .masthead h1.ui.header {
    font-size: 3em;
  }

  .masthead h2 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 767px) and (min-width: 700px) {
  .masthead h1.ui.header {
    font-size: 3em;
  }

  .masthead h2 {
    font-size: 1.5em;
  }

  .ui.segment.box {
    padding-top: 2em;
    height: auto;
  }
}

/* Stripe and intersection text responsive webdesign

@media only screen and (max-width: 731px) and (min-width: 701px) {

  .ui.vertical.stripe.stripe-large {
    padding-top: 4.5em;
  }
}

@media only screen and (max-width: 700px) and (min-width: 572px) {

  .ui.vertical.stripe.stripe-large {
    padding-top: 15.5em;
  }
}

@media only screen and (max-width: 571px) and (min-width: 474px) {

  .ui.vertical.stripe.stripe-large {
    padding-top: 13em;
  }
}

@media only screen and (max-width: 475px) and (min-width: 379px) {
  .ui.vertical.stripe.stripe-large {
    padding-top: 10.5em;
  }

@media only screen and (max-width: 379px) and (min-width: 443px) {
  .ui.vertical.stripe.stripe-large {
    padding-top: 10.5em;
  }
}
*/

@media only screen and (max-width: 700px) {
  .secondary.pointing.menu .item, .ui.fixed.menu .item {
    display: none;
  }
  .ui.fixed.menu .toc.item {
    display: block;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2.5em;
    margin-top: 0.5em!;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .ui.text.container.stripe-header {
    padding-top: 5em;
  }

  .ui.text.container.work-header a {
    font-size: 2em;
    line-height: 1em;
  }

  .inter-section-text {
    color: #44BCB0;
    font-size: 1.33em !important;
    font-weight: 700;
    margin-top: -15.5em;
    margin-bottom: 0em;
  }

  .ui.segment.contains-inter-section-text {
    margin-top: 5em;
  }

  .ui.segment.box {
    padding-top: 2em;
    padding-bottom: 0.2em;
    height: auto;
  }

  .info-title {
    color: #44BCB0;
    font-size: 4em !important;
    font-weight: 700;
    margin-top: -1em;
  }

  .portfolio-title {
    color: #44BCB0;
    font-size: 3em !important;
    font-weight: 700;
    margin-top: -0.15em !important;
    margin-bottom: 0.5em;
  }

  .portfolio-sub-title {
    color: #44BCB0;
    font-size: 2em !important;
    font-weight: 700;
    margin-top: -0.15em !important;
  }

  .section-text-title {
  color: #fff;
  font-size: 2.5em !important;
  text-align: center;
  font-weight: 700;
  margin-top: 0em;
  }

  .section-text {
  color: #fff;
  text-align: center;
  font-size: 1.5em !important;
  font-weight: 700;
  }

  .section-text h2 {
  margin-bottom: -1em;
  margin-top: 2em;
  }
}

@media only screen and (max-width: 400px) {

  .section-text-title {
  color: #fff;
  font-size: 2em !important;
  text-align: center;
  font-weight: 700;
  margin-top: 0em;
  }

  .section-text {
  color: #fff;
  text-align: center;
  font-size: 1.5em !important;
  font-weight: 700;
  }

  .section-text h2 {
  margin-bottom: -1em;
  margin-top: 2em;
  }
}
